$color_notification: #ffd800;

body {
    margin: 0%;
}

.notificationbar {
    position: absolute;
    background: $color_notification;
    height: 1cm;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding-top: 0.5cm;
    padding-bottom: auto;
    visibility: hidden;
}