$color_notification: #ffd800;

body {
    margin: 0%;
}

.notificationbar {
    position: absolute;
    background: $color_notification;
    height: 2em;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: auto;
    visibility: hidden;
}

.repoform {
    height: 2em;
    width: 35em;
    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: -1em;
    margin-left: -10em;
}

#reponame {
    width: 25em;
}

#gitrepotitle {
    margin: 0em;
    display: inline;
}

/* SMALL GRID */
.container {
    display: grid;
    min-height: 100%;
    margin: 5px auto 0px auto;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px repeat(3, auto) 50px;
    grid-template-areas:
        "header header header"
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
}


/* MEDIUM GRID */
@media (min-width: 480px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px 1fr 1fr 1fr 50px;
        grid-template-areas:
            "header header header"
            "header header header"
            "main  main main"
            "main  main main"
            "footer footer  footer";
    }
}

/* BIG GRID */
@media (min-width: 800px) {
    .container {
        grid-template-columns: 120px 1fr 120px;
        grid-template-rows: 80px 1fr 1fr 1fr 50px;
        grid-template-areas:
            "header header header"
            "header header header"
            "main  main main"
            "main  main main"
            "footer footer footer";
    }
}


* { 
    margin: 0;
    padding: 0;
}

header  { background-color: lightgreen;  grid-area: header;}
main { background-color: orange; grid-area: main;  }
footer { background-color: hotpink; grid-area: footer;}